 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: black;
      }

      .wrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.1s linear, opacity 0.1s linear;
      }

      .grid {
        display: grid;
        gap: 0;
        width: 100vw;
        height: 100vh;
      }

      .image-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
      }

      .grid img {
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s ease;
        display: block;
        width: 100%;
        height: 100%;
      }